################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GegraphicService/.vs
/GegraphicService/.cr/personal/Editor
/GegraphicService/GeoLibContracts/obj/Debug
/GegraphicService/GeoLibContracts/bin/Debug
/GegraphicService/GeoLibRespositories/obj/Debug
/GegraphicService/GeoLibRespositories/bin/Debug
/GegraphicService/GeoLibServices/obj/Debug
/GegraphicService/GeoLibServices/bin/Debug
/GegraphicService/GeoLibTest/obj/Debug
/GegraphicService/GeoLibTest/bin/Debug
/GegraphicService/Hosting/ConsoleHosting/obj/Debug
/GegraphicService/Hosting/ConsoleHosting/bin/Debug
/GegraphicService/Hosting/WebHosting/obj/Debug
/GegraphicService/Hosting/WebHosting/bin
