<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <system.serviceModel>
    <client>
      <!--List down all endpoint of all services here-->
      <!--For web host address will end with svc file-->
      <endpoint address="net.tcp://localhost:4201/GeoService" binding="netTcpBinding" contract="GeoLibContracts.IGeoService" name="tcpE" bindingConfiguration="timeoutConfig"></endpoint>

      <!--<endpoint address="http://localhost:4200/GeoService" binding="basicHttpBinding" contract="GeoLibContracts.IGeoService" name="httpE"></endpoint>

      <endpoint name="tcpE" address="net.tcp://localhost:4200/MessageService" binding="netTcpBinding" contract="GeoLibProxies.Contract.IMessageService"></endpoint>

      <endpoint name="httpE" address="http://localhost:4200/MessageService" binding="netTcpBinding" contract="GeoLibProxies.Contract.IMessageService"></endpoint>

      <endpoint name="webEp" address="http://localhost:56720/GeoService.svc" binding="wsHttpBinding" contract="GeoLibContracts.IGeoService"></endpoint>-->
      <endpoint address="net.tcp://localhost:4202/StatefullGeoService" binding="netTcpBinding"  name="tcpE" contract="GeoLibContracts.IStatefullGeoService" ></endpoint>
      
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="timeoutConfig" transactionFlow="true" sendTimeout="00:00:05"  maxReceivedMessageSize="2000000"></binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>