<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="GeoLibServices.GeoManager">
        <endpoint address="net.tcp://localhost:4200/GeoService" binding="netTcpBinding" contract="GeoLibContracts.IGeoService"></endpoint>
        <endpoint address="http://localhost:4200/GeoService" binding="basicHttpBinding" contract="GeoLibContracts.IGeoService"></endpoint>
      </service>
      <service name="WindowsHosting.Service.MessageManager">
        <!--<endpoint name="tcpE" address="net.tcp://localhost:4200/MessageService" binding="netTcpBinding" contract="WindowsHosting.Contract.IMessageService"></endpoint>
        <endpoint name="httpE" address="http://localhost:4200/MessageService" binding="netTcpBinding" contract="WindowsHosting.Contract.IMessageService"></endpoint>-->

        <endpoint name="netPipeE" address="net.pipe://localhost/MessageService" binding="netNamedPipeBinding" contract="WindowsHosting.Contract.IMessageService"></endpoint>
      </service>
    </services>
    <client>
      <endpoint name="netPipeE" address="net.pipe://localhost/MessageService" binding="netNamedPipeBinding" contract="WindowsHosting.Contract.IMessageService"></endpoint>
    </client>
  </system.serviceModel>

</configuration>